<!-- BEGIN USWDS Header, extended -->
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic usa-header--megamenu usa-header--simlearn position-relative z-top">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">
          <a href="{% assetPath %}" title="VA Simlearn">
            VA <span> | SimLEARN</span>
          </a>
        </em>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="{% assetPath %}assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for link in navigation.primaryLinks %}
          <li class="usa-nav__primary-item">
            {% if link.submenu %}
              <button
                type="button"
                class="usa-accordion__button usa-nav__link"
                aria-expanded="false"
                aria-controls="section-{{ forloop.index }}"
              >
                <span>{{ link.label }}</span>
              </button>
              <ul id="section-{{ forloop.index }}" class="usa-nav__submenu">
                {% for sublink in link.submenu %}
                  <li class="usa-nav__submenu-item">
                    <a href="{{ assetPath }}{{ sublink.url }}" class="{% if currentPageUrl == sublink.url %}usa-current{% endif %}">
                      <span>{{ sublink.label }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% elsif link.megaMenu %}
              <button
                type="button"
                class="usa-accordion__button usa-nav__link"
                aria-expanded="false"
                aria-controls="mega-menu-{{ forloop.index }}"
              >
                <span>{{ link.label }}</span>
              </button>
              <div
                id="mega-menu-{{ forloop.index }}"
                class="usa-nav__submenu usa-megamenu padding-0"
              >
                <div class="grid-row grid-gap-4">
                  {% for item in link.megaMenu %}
                    <div class="grid-col-12 desktop:grid-col-4">
                      <div class="usa-nav__portfolio padding-2 desktop:padding-4">
                        <h3 class="usa-nav__portfolio-title">{{ item.title }}</h3>
                        <p class="usa-nav__portfolio-subtitle margin-top-0">{{ item.description }}</p>
                        <a href="{{ assetPath }}{{ item.url }}" class="usa-link" aria-label="View more information about {{ item.title }}">View {{ item.title }}</a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}


            {% capture cleanAssetPath %}{% assetPath %}{% endcapture %}
            {% assign fullCurrentPageUrl = cleanAssetPath | append: currentPageUrl | replace: "//", "/" %}

            <div class="display-none">
              <p>Asset Path: {% assetPath %}</p>
              <p>Current Page URL: {{ currentPageUrl }}</p>
              <p>Link URL: {% assetPath %}{{ link.url }}</p>
              <p>Full Current Page URL: {{ fullCurrentPageUrl }}</p>
              </div>

    

            
            <a href="{{ assetPath }}{{ link.url }}" class="usa-nav-link {% if fullCurrentPageUrl == link.url %}usa-current{% endif %}">
              <span>{{ link.label }}</span>
            </a>
            
              
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header> 